<div class="form-group">
	<label for="">Item Per Page </label>
	<div class="btn-group">
		<label class="btn btn-primary" ng-model="itemPerPage" btn-radio="10">10</label>
		<label class="btn btn-primary" ng-model="itemPerPage" btn-radio="20">20</label>
		<label class="btn btn-primary" ng-model="itemPerPage" btn-radio="totalItems">&#8734;</label>
	</div>
	<div class="pull-right">
	total clients: {{totalItems}}
	</div>
</div>
<hr>
<div class="form-group">
<label>Search</label> <input placeholder="filter:keyword" class="form-control" type="text" ng-model="searchKey" ng-change="displayAllItems(); advancedFilter()"/>
</div>
<table class="table table-hover table-striped">
	<tr>
		<th><a href="" ng-click="orderByField='id'; reverse = !reverse">Id</a></th>
		<th><a href="" ng-click="orderByField='name'; reverse = !reverse">Name</a></th>
		<th><a href="" ng-click="orderByField='description'; reverse = !reverse">Description</a></th>
		<th><a href="" ng-click="orderByField='type'; reverse = !reverse">Type</a></th>
		<th><a href="" ng-click="orderByField='isDefault'; reverse = !reverse">default</a></th>
		<th id="table-btn-col"></th>
	</tr>
	<tr ng-repeat="client in filteredClients | filter:search | orderBy:orderByField:reverse" ng-click="inlineEdit(client)" ng-include="clientTemplate(client)">
	</tr>
</table>
<a class="btn btn-success" ng-click='clearLS()'>Clear LocalStorage</a>
<pagination ng-hide="itemPerPage==totalItems" total-items="totalItems" num-page="numPage" ng-model="currentPage" max-size="maxSize" items-per-page="itemPerPage" class="pagination-md pull-right" boundary-links="true"></pagination>

<script type="text/ng-template" id="edit-client">
		<td>{{client.id}}</td>
		<td><input class="form-control" ng-model="selectedClient.name"></input></td>
		<td><input class="form-control" ng-model="selectedClient.description"></input></td>
		<td><input class="form-control" ng-model="selectedClient.type"></input></td>
		<td><div class="checkbox">
        <label>
        	<input type="checkbox" ng-model="selectedClient.isDefault" ng-click="$event.stopPropagation()"></input>
        </label>
    </td>
		<td>
			<div class="btn-group">
			<a class="btn btn-warning" ng-click='resetSelectedClient()'>C</a>
			<a class="btn btn-danger" ng-click='inlineDelete()'>&#x2718;</a>
			<a class="btn btn-primary" ng-click='inlineUpdate()'>&#x2714;</a>
			</div>
		</td>
</script>

<script type="text/ng-template" id="display-client">
	<td>{{client.id}}</td>
	<td>{{client.name}}</td>
	<td>{{client.description}}</td>
	<td>{{client.type}}</td>
	<td>{{client.isDefault}}</td>
	<td></td>
</script>
